<footer>
    &copy; Copyright by - <a href="/">Obaid Portfolio</a>
</footer>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4834863849486325"
    crossorigin="anonymous"></script>