<header>
    <a href="/" class="heading">Obaid Portfolio</a>
    <nav>
        <%- include('menu') %> 
    </nav>
    <input id="open_menu" type="checkbox" hidden>
    <label for="open_menu" class="menu_btn" hidden>
        <span></span>
        <span></span>
        <span></span>
    </label>
    <div class="menu" hidden>
        <%- include('menu') %> 
    </div>
</header>