<% pages.forEach((item) => { %>
    <% if(page == item){ %>
        <a class="selected" href="<%- item %>"><%- item %></a>
    <% }else{ %>
        <a href="<%- item %>"><%- item %></a>
    <% }%>
<% }) %>

<!-- <a href="/about">about</a>
<a href="/skills">skills</a>
<a href="/contact">contact</a> -->
