<div class="menu-popup" hidden>
    <a href="https://wa.me/?text=https://example.com" target="_blank">
        <li><i class="fab fa-whatsapp" style="color: #25D366;"></i>Share To WhatsApp</li>
    </a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=https://example.com" target="_blank">
        <li><i class="fab fa-facebook" style="color: #3b5998;"></i>Share To Facebook</li>
    </a>
    <a href="https://www.instagram.com/?url=https://example.com" target="_blank">
        <li><i class="fab fa-instagram" style="color: #E4405F;"></i>Share To Instagram</li>
    </a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://example.com" target="_blank">
        <li><i class="fab fa-linkedin" style="color: #0077b5;"></i>Share To LinkedIn</li>
    </a>
    <a href="https://twitter.com/intent/tweet?url=https://example.com" target="_blank">
        <li><i class="fab fa-twitter" style="color: #1DA1F2;"></i>Share To Twitter</li>
    </a>
    <a href="mailto:?subject=Check this out&body=https://example.com" target="_blank">
        <li><i class="fas fa-envelope" style="color: #D44638;"></i>Share To Email</li>
    </a>
    <a href="https://pinterest.com/pin/create/button/?url=https://example.com" target="_blank">
        <li><i class="fab fa-pinterest" style="color: #E60023;"></i>Share To Pinterest</li>
    </a>
    <a href="https://www.reddit.com/submit?url=https://example.com" target="_blank">
        <li><i class="fab fa-reddit" style="color: #FF4500;"></i>Share To Reddit</li>
    </a>
    <!-- <a href="#" onclick='window.open("view-source:http://127.0.0.1:5500/", "_blank"); return false;'>
        <li><i class="fa fa-info-circle" style="color: #000000;"></i>view page source</li>
    </a> -->
</div>