<form action="/send" method="post">
    <input type="text" name="subject" placeholder="name" required value="anas" />
    <input type="email" name="to" placeholder="email"  value="motech508@gmail.com" />
    <textarea name="text" placeholder="message" rows="8" required>hellow how are you</textarea>
    <button type="submit">send</button>
</form>