<div class="left">
    <label class="main_hd">I`am obaid</label>
    <div class="second_hd">
        i am <span></span><label></label>
    </div>
    <div class="desc">
        I am a full-stack web developer with a passion for backend development, SEO, and software engineering. With
        expertise in PHP, Node.js, AI, designing, video editing, and social media marketing, I build scalable web
        solutions and optimize digital presence.
    </div>
    <input type="color" class="change_color" value="#033f9f">
    <a href="/cv"><button>view cv</button></a>
</div>
<div class="right">
    <div class="btns">
        <span id="leftBtn" class="left_btn" tabindex="0">
            <i class="fa fa-chevron-left"></i>
        </span>
        <span id="rightBtn" class="right_btn" tabindex="0">
            <i class="fa fa-chevron-right"></i>
        </span>
    </div>
    <div class="images">
        <%- skillImages %>
    </div>
</div>